@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000; 1,9..40,100..1000&family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap');
*{
    box-sizing: border-box;
}

body{
padding: 0;
margin: 0;
background: white;
font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#a00000db;
    height: 80px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    color:white;
    font-family:  "Texto Carmesim", serifa;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid black; */
}

.box-img {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 450px;
    background-color:#ffffff;
}

.box-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow:row wrap ;
    width:35% ;
    height: 450px;
    background-color: white;
}

.box-txt span{
    color: gray;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 5px;
}

.box-txt h2{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    color: rgb(176, 0, 35);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 70px;
}

.box-txt h3{
    color: gray;
    letter-spacing: 5px;
    margin-bottom: 60px;
    margin-right:20px;
}
.search-bnt {
    background: #a00000db;
    height: 32px;
    width: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: 0.5s all;
    margin-bottom: 35px;
    font-weight: bold;
}

.search-bnt:hover{
    background: gold;
    font-size: 20px;
}
.box-txt input{
    height: 30px;
    margin-bottom: 35px;
    align-items: center;
}

.box-item{
    width: 30%;
    height: 250px;
    text-align: center;
    justify-content: center;
    background: #a00000db;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
}

.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    background-color: #ffffff;
    margin-left: 10%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#a00000db;
    height: 60px;
    margin-top: 100px;
    text-align: center;
    color: blanchedalmond;
}

.wats{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width:1200px){
    .hero{
        flex-direction:column-reverse ;
    }

    .box-txt{
        flex-flow: column wrap;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        padding: 40px 30px;
    }

    .box-txth2{
        font-size: 50px;
    }

    .box-txt p{
    text-align: center;
    }

    .box-img {
        width: 100%;
        margin-bottom: 30 px;
    }

    .box-item{
        width: 90%;
    }

    footer{
        font-size: 50px;
        text-align: center;
    }


}
